body {
  font-family: "Kirang Haerang", system-ui;
  font-weight: 100;
  font-style: normal;
}

.header {
  background-color: rgb(2, 1, 22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav {
  display: flex; /*가로정렬* 여기서 따로 felx-direction 지정 안해줘도 자동으로 가로정렬됨*/
  gap: 20px;
}

nav li {
  list-style: none; /*리스트 앞 점 제거*/
  font-size: 20px;
}

.header h2 {
  font-size: 30px;
}

.header a {
  color: white;
  text-decoration: none; /*밑줄제거*/
}

section {
  padding: 20px 0; /*내부요소 위아래 20px, 좌우0*/
  margin: 0; /*바깥요소 간격조정*/
}

.banner-area {
  background-image: url("images/banner2.jpeg");
  background-size: cover;
  background-position: center;
  height: 500px;
  color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-area h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 200px 0 20px 0;
}

.banner-area h3 {
  font-size: 18px;
  margin: 0;
  font-weight: 100;
}

.about-area {
  background-image: url("images/about.jpeg");
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-area li {
  list-style: none;
}

.about-area h3 {
  font-size: 40px;
}

.about-area p {
  font-size: 15px;
}
.about-left img {
  width: 200px; /* 가로 크기 */
  height: 200px; /* 세로 크기 */
  border-radius: 40px;
}

.portfolio-area {
  background-color: pink;
}

.contact-area {
  background-color: beige;
}
.footer {
  background-color: black;
}
